PORT=
APP=
PORTAINER_TOKEN=
PORTAINER_URL=
ZABBIX_URL=
ZABBIX_USERNAME=
ZABBIX_PASSWORD=
N8N_URL=
DATABASE_URL=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
JWT_SECRET=
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
TOKEN_JIRA=
NAS_URL=
NAS_LOGIN=
NAS_PASSWORD=
STORAGE=
GLPI_URL=
GLPI_AUTHORIZATION=
GLPI_APP_TOKEN=